/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/

/* ========================================================================== */
/* =================== HERE YOU CAN ADD YOUR CSS CODE ======================= */
/* ========================================================================== */
/* ============================ ONLY HERE :) ================================ */
/* ========================================================================== */
/* ===========================THANK YOU! /ARON ============================== */

body {
}
/* Default link styling */
a:link {
  color: #0271fb;
}
a:visited {
  color: #bd02fb;
}
a:hover,
a:focus {
  color: #000;
}
a:active {
  color: #fb0e02;
}

/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
body {
}

h1 {
  text-align: center;
}

.wrap {
  margin: 50px;
  text-align: center;
}

.shop {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: gray;
  padding: 10px;
}

.item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  overflow: hidden;
}

#namePos,
#pricePos,
#ratingPos {
  text-align: right;
}
.stockPos {
  text-align: right;
}

button {
  text-align: left;
}

img {
  width: 200px;
  height: 200px;
  text-align: left;
  overflow: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}

	.Button{
		color:white;
		background-color:black;
		padding:5px;
		border-radius:15px;
		text-decoration: none;
	}

	a.Button{
		color:white;
	}

	#loginmain{
		float:right;
		margin-right:2%;
	}

	#signUpMain{
		float:right;
		margin-right:4%;
	}

	.Button:hover{
		background-color:gray;
	}

	.LogInBox{
		border-style:solid;
		border-width:thin;
	}
	
	input.LogInForm{
		border-radius:10px;
	}
    



    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
/* Fattar ni? testa ändra storlek på window */
@media screen and (max-width: 480px) {
    body {
        background-color: gray !important;
        box-shadow:none !important;
        text-shadow:none !important;
    }

}

