/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/

/* ========================================================================== */
/* =================== HERE YOU CAN ADD YOUR CSS CODE ======================= */
/* ========================================================================== */
/* ============================ ONLY HERE :) ================================ */
/* ========================================================================== */
/* ===========================THANK YOU! /ARON ============================== */

    body {
   
    }
    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }
    
    
    
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
    body {
   
    }

    h1 {
        text-align: center;
    }


    .wrap {
        margin-top:10%;
    }

    .shop {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: gray;
        padding: 10px;
    }

    .item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align:center;
    }

    img {
        width: 80%;
        height: 80%;

        
        
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: gray;
        color: white;
        text-align: center;

    }

	a.ButtonLogInNav{
		color:white;
		background-color:black;
		padding:5px;
		margin-right:5%;
		border-radius:15px;
		float:right;
		text-decoration: none;
	}
	
	.LogInBox{
		border-style:solid;
		border-width:thin;
	}
	
	a.ButtonLogInNav:hover{
		background-color:gray;
	}
	
	input.ButtonLogIn{
		color:white;
		background-color:black;
	
		border-radius:15px;
			
		padding:5px;
	}
	
	input.ButtonLogIn:hover{
		background-color:gray;
	}
	
	input.LogInForm{
		border-radius:10px;
	}
    



    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
   /* Fattar ni? testa ändra storlek på window */
@media screen and (max-width: 480px) {
    body {
        background-color: gray !important;
        box-shadow:none !important;
        text-shadow:none !important;
    }

}

