/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/

/* ========================================================================== */

/* =================== HERE YOU CAN ADD YOUR CSS CODE ======================= */

/* ========================================================================== */

/* ============================ ONLY HERE :) ================================ */

/* ========================================================================== */

/* ===========================THANK YOU! /ARON ============================== */

body {}

/* Default link styling */

a:link {
    color: #0271fb;
}

a:visited {
    color: #bd02fb;
}

a:focus,
a:hover {
    color: #000;
}

a:active {
    color: #fb0e02;
}

/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

body {
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
}

nav {
    display: block;
    overflow: hidden;
}

#navIcon {
    font-size: 36px;
    color: white;
    float: left;
    margin-left: 1%;
}

#logoSlogan {
    margin-top: 0.5%;
    text-align: center;
    color: #FFFFFF;
    font-family: "Helvetica";
}

#logoText {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    color: #FFFFFF;
    font-family: "Helvetica";
}
#logoText:hover i{
    transform: rotate(360deg);
    transition: 1s;
}

#logoIcon{
    color:#FC3D21;
}

header {
    background-color: #0B3D91;
    margin-top: 0;
    padding: 0;
}

.wrap {
    margin: 50px;
    text-align: center;
}

.adminWrap{
    color:#0B3D91;
}

.shop {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border-radius: 3px;
}

.product-background {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    color: #0B3D91;
    font-family: "Helvetica";

}

.product {
    float: left;
    padding: 50px;
}


.product img {
    width: 300px;
    height: 300px;
    border-radius: 3px;
}

.addReview {
    margin-left:auto;
    margin-right:auto;
}

.reviews {
    /* Center table of reviews */
    margin: 0 auto;
}

.fa-star-color {
    color: #0b3d91;
}

/* With help from https://css-tricks.com/star-ratings/  */
.star-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    float: left;
    color: black;
}

.star-rating > span:hover:before,
.star-rating > span:hover ~ span:before {
    color: #0b3d91;

}

#userBox {
    /* background-color: gray; */
    position: relative;
    color: black;
    font-size: 30px;
}

.item {
    background-color: white;
    color: #0B3D91;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10%;
    font-size: 30px;
    border-radius: 3px;
    margin: 10px;
    font-family: "Helvetica";
}

.item:hover{
    background-color:#0B3D91;
    color: #FFFFFF;
    transition: 0.3s;
}

#namePos,
#pricePos,
#ratingPos,
#stockPos {
    margin-top: 0;
    text-align: right;
}

.adminBox {
  color:#0B3D91; 
  font-family: "Helvetica";
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.shop img {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 3px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0B3D91;
    color: #FFFFFF;
    text-align: center;
}

a.navButton{
    color:#0B3D91;
    background-color: #FFFFFF;
    border: solid 2px #0B3D91;
    border-radius: 50px;
    padding: 20px;
    text-decoration: none;
    text-align:center;
    font-family: "Helvetica";
    margin-bottom:2px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 16px;
}

a.navButton:hover{
    color:#FFFFFF;
    background-color: #0271fb;
    transition: 0.3s;
}

#logInMain {
    float: right;
    width: 5%;
    margin-bottom: 0;
}

#signUpMain {
    float: right;
    width: 5%;
}

#logOutMain {
    float: right;
    width: 5%;
}

.submitBox {
    border-color: #0B3D91;
    border-style: solid;
    border-width: thin;
    color:#0B3D91;
    font-family: "Helvetica";
}

.initHidden {
    display: none;
}

.dropbutton {
    color: white;
    padding: 3px;
    background-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    outline: none;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    /* Go to front */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button{
    background-color: #FFFFFF;
    color: #0B3D91;
    border-radius: 50px;
    text-align: center;
    font-family: "Helvetica";
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: solid 2px #0B3D91;
}

button:hover{
    background-color: #0271fb;
    color:#FFFFFF;
    transition: 0.3s;
}

.addToCartButton{
    padding: 10px;
}

.addToCartButton:hover i{
    transform: rotate(360deg);
    transition: 1s;
}

	#logInMain{
		float:right;
		width:5%;
	}

	#signUpMain{
		float:right;
		width:5%;
	}
	#logOutMain{
		float:right;
		width:5%;
	}

	input.submitField{
        border-radius:50px;
        border: solid 2px #0B3D91;
        color: #0B3D91;
    }
    
	.initHidden{
		display:none;
	}

    #shoppingCart{
        float:right;
    }

    #shoppingCart:hover i{
        transform: rotate(360deg);
        transition: 1.0s;
    }

	.shoppingCartTable{
		border-collapse: collapse;
        margin:auto;
	}

	.shoppingCartTable td{
		border-bottom: 1px solid #0B3D91;
        color:#0B3D91;
	}

	.shoppingCartTable th{
		color:#0B3D91;
        padding-right: 25px;
	}

	#shoppingCartTableHeader:hover{
		background-color:transparent;
	}

	.shoppingCartTable tr:hover{
        background-color:#0B3D91;
        transition: 0.2s;
    }

    .shoppingCartTable tr:hover td{
        color:#FFFFFF;
        transition: 0.2s;
    }
 
.shopCartQuantityIcon{
    text-decoration: none;
    color: #0B3D91;
}

.shoppingCartTable tr:hover .shopCartQuantityIcon{
    text-decoration: none;
    color: #FFFFFF;
}  
    .shoppingCartRemoveItemButton{
        padding: 10px;
    }

    .shoppingCartRemoveItemButton:hover i{
        transform: rotate(360deg);
        transition: 1s;
    }

    #checkoutButton{
        margin: 10px;
        padding: 10px;
    }

    #checkoutButton:hover{
        color: #FFFFFF;
        background-color: #0271fb;
        transition: 0.2s;
    }

    #myOrders{
        float:right;
    }

    .ordersTable{
        color:#0B3D91;
        border-collapse: collapse;
        margin:auto;
    }
    .ordersTable tr{
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .ordersTable th{
        padding-right: 20px;
        padding-left: 20px;
    }

    .ordersTable tr:hover{
        background-color: #0271fb;
        color:#FFFFFF;
        transition: 0.2s;
    }

    .ordersTable .ordersTableHeader:hover{
        background-color:transparent;
        color: #0B3D91;
    }


/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/

@media screen and (max-width: 480px) {
    body {
    }
}
